@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.profilecontainer{
	width: 100%;
	min-height: 100vh;
}

.menuprofile{
	width: 100%;
	min-height: 50px;
}

.userprofile{
	width: 100%;
	min-height: 100vh;
	overflow: auto;
	background-color: var(--gray);
}

.profilemain{
	width: 100%;
	height:200px;
	display:flex;
	margin: auto;
}

.profilelogo{
	width:30%;
	height:200px;
	align-content:center;
	background: linear-gradient(#7579e7, #393e46);	
}
.profilelogo img{
	width:100%;
	height:80px;
	padding:5px;
	margin-bottom:10px;
	border-radius:80px;
}

.profilename{
	width:100%;
	height:200px;
	background: linear-gradient(#7579e7, #393e46);
}

.profileUsername{
	font-size: 20px;
	margin-top: 20px;
	margin-left: 20px;
	color: var(--white);
	font-weight: bold;
}
.pff{
	margin-top: 10px;
	display: flex;
}
.pff #padj{
	width:30%;
	text-align:center;
	min-height: 50px;
	margin-right: 15px;
}
#padj a{
	text-decoration: none;
	font-size: 15px;
	color: var(--white);
}

#prodiv1{
	width:100%;
	height:80px;
	display:flex;
}

#prodiv2{
	width:60%;
	min-height:80px;
	margin-top: 10px;
	padding-left:20px;
	overflow:hidden;
}
.profileNam{
	font-size: 18px;
	color:var(--white);
}	
	
.bio{
	color:var(--white); 
}
#prodiv3{
	width:30%;
	height:80px;
	margin-left:10px;
	padding-top: 20px;
}
#prodiv3 #follow{
	width:100%;
	padding:7px;
	background-color:  #24243e ;
	border-radius: 15px;
	color: var(--white);
	font-weight: bold;
	border-style:none;
	border:var(--white) solid 1px;
	
}

#prodiv3 #following{
	width:100%;
	padding:7px;
	border-radius: 20px;
	background-color: var(--gray);
	color: var(--voilet);
}



.allposts{
	width:100%;
	height: 350px;
	margin: auto;
}

.allposts h5{
	color:var(--voilet);
	margin-top:20px;
	text-align: center;
} 
#myTab{
	background-color: var(--gray);
}
.pro{
	width:100%;
	min-height:200px;
	position:relative;
	background-color: var(--gray);
	border-bottom: var(--border) solid 1px;
	padding-top:10px;
	color: var(--white);
}

.userlogo{
	width:20%;
	height: 50px;
	text-align:center;
	position:absolute;	
}
.userlogo img{
	width:50px;
	height:49px;
	border-radius:25px;
}

.userpost{
	width:100%;
	min-height: 200px;
}

.userpost #userP{
	width:100%;
	height:50px;
	padding-left:20%;
	color:var(--voilet);
	display:flex;
}

.userpost #userP h4{
	width:85%;
	padding-top:10px;
	height:40px;
}

.userpost #postdisplay{
	width:95%;
	padding-left:5%;
	text-align:justify;
	font-size: 15px;
	color: var(--voilet);
}
.userpost img{
	width:100%;
	min-height:200px;
	margin-top:10px;
	cursor: pointer;
}

.userpost #likecommentdiv{
	margin-top: 15px;
	display: flex;
	margin-left: 10px;
}

.userpost #likecommentdiv .likesp{
	width: 15%;
}
.userpost #likecommentdiv .commentsp{
	width:85%;
	display:flex;
}
.commentsp #commentshow{
	width: 20%;
}

.userpost #likecommentdiv a{
	font-size: 20px;
	text-decoration: none;
	color: var(--darkgray);
	
}
.userpost #likecommentdiv #liked{
	color:red;
	cursor: pointer;
}
.userpost #likecommentdiv #like{
	color: var(--darkgray);
	cursor: pointer;
}

.userpost #likecommentdiv #like:hover{
	font-size: 22px;
}


.userpost #likecommentdiv #comment{
	width:73%;
	padding:5px;
	border-top-left-radius:15px;
	border-bottom-left-radius:15px;
	margin-bottom:10px;
	background-color:var(--white);
	border-style: none;
	border:var(--border) solid 0.5px; 
	color: #23233e;
}

.userpost #likecommentdiv ::placeholder{
	color: var(--darkgray);
}


.userpost #likecommentdiv #commentbtn{
	width: 50px;
	height: 35px;
	border-top-right-radius:15px;
	border-bottom-right-radius:15px;
	border:none;
	margin-left:-5px;
	background-color: var(--voilet);
	color: var(--white);
}





/* --------------------------------------------------------------------------------- */

 	/* desktop screen */

@media only screen and (min-width: 768px) {


.profilecontainer{
	width: 100%;
	min-height: 100vh;
	display: flex;
}

.menuprofile{
	width: 15%;
	min-height: 100vh;
}

.userprofile{
	width: 85%;
	min-height: 100vh;
	overflow: auto;
	border-left:var(--border) solid 1px; 
	background: var(--pink);
}

.profilemain{
	width: 60%;
	height:200px;
	display:flex;
	margin: auto;
}

.profilelogo{
	width:40%;
	height:200px;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);	
}
.profilelogo img{
	width:60%;
	height:110px;
	padding:5px;
	margin-top:25px;
	margin-left:40px;
	border-radius:80px;
}

.profilename{
	width:100%;
	height:200px;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

.profileUsername{
	font-size: 20px;
	margin-top: 20px;
	margin-left: 30px;
	color: white;
	font-weight: bold;
}

.pff{
	margin-top: 20px;
	display: flex;
	margin-left: 30px;
}
.pff #padj{
	display: inline-block;
	width:40%;
	text-align:left;
	min-height: 20px;
	font-size: 20px;
}
#padj br{
	display: none;
}
#padj a{
	display:block;
	text-decoration: none;
	font-size: 100%;
	color: white;
	
}

#prodiv1{
	width:100%;
	height:90px;
	margin-top:10px;
	display:flex;
}

#prodiv2{
	width:60%;
	height:80px;
}

.profileNam{
	margin-left: 10px;
	font-size: 18px;
	color:white;
}	
	
.bio{
	margin-left: 10px;
	color:white; 
}

#prodiv3{
	width:30%;
	height:80px;
	padding-top: 20px;
}
#prodiv3 #follow{
	width:70%;
	padding:7px;
	background-color:  #24243e ;
	border-radius: 20px;
	margin-left:30px;
	border:white solid 2px;
	color: white;	
	
}
#prodiv3 #follow:hover{
	background-color: #6d44b8;
}
#prodiv3 #following{
	width:70%;
	padding:7px;
	margin-left:30px;
	border-radius: 20px;
	color: var(--voilet);
}



.allposts{
	width:60%;
	height: 350px;
	margin: auto;
	background-color: var(--gray);
}

.allposts h5{
	color:var(--voilet);
	margin-top:20px;
	text-align: center;
} 

.pro{
	width:100%;
	min-height:200px;
	display:flex;
	border-bottom: var(--border) solid 1px;
	margin-top:0;
	color: var(--white);
}

.userlogo{
	width:10%;
	min-height: 200px;
	text-align:none;
	position:static;
	padding-top:10px;
}
.userlogo img{
	width:50px;
	height:50px;
	border-radius:25px;
	margin-left:15px;
}

.userpost{
	width:100%;
	min-height: 100px;
	padding: 10px;
}

.userpost #userP{
	width:85%;
	height:30px;
	padding-left:0;
	display:flex;
}

.userpost #userP h4{
	width:90%;
	height:30px;
	padding-top: 0;
}

.userpost #postdisplay{
	width:80%;
	font-size: 20px;
	padding-left:0;
}
.userpost img{
	width:90%;
	min-height:100px;
	margin-top:10px;
}

.userpost #likecommentdiv{
	margin-top: 10px;
	display: flex;
	margin-left: 10px;
}

.userpost #likecommentdiv .likesp{
	width: 10%;
}

.userpost #likecommentdiv a{
	font-size: 20px;
	text-decoration: none;
	color: var(--darkgray);
	
}
.userpost #likecommentdiv #liked{
	color:red;
	cursor: pointer;
}
.userpost #likecommentdiv #like{
	color: var(--darkgray);
	cursor: pointer;
}

.userpost #likecommentdiv #like:hover{
	font-size: 22px;
	cursor: pointer;
}

.userpost #likecommentdiv .commentsp{
	width:80%;
	display:flex;
	
}

.commentsp #frm{
	width: 100%;
}
.userpost #likecommentdiv #comment{
	width:85%;
	padding:5px;
	padding-left:20px;
	border-top-left-radius:15px;
	border-bottom-left-radius:15px;
	margin-bottom:10px;
	background-color:var(--white);
	border-style: none;
	border:var(--border) solid 0.5px; 
	color: var(--voilet);
}

.userpost #likecommentdiv ::placeholder{
	color: 878787;
}


.userpost #likecommentdiv #commentbtn{
	width: 50px;
	height: 35px;
	border-top-right-radius:15px;
	border-bottom-right-radius:15px;
	border:none;
	margin-left:-5px;
	background-color: var(--voilet);
	color: var(--white);
}	
	
}	





