@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.changecontainer{
	width: 100%;
	min-height: 100vh;
	background:white;
}

.changesection{
	width: 100%;
	min-height: 100vh;
}

.divider{
	width:100%;
	min-height: 100vh;
	margin:auto;
	color:black;
	background-color: #ebeced;

}

.adj{
	width:100%;
	padding-top:10px;
	padding-left:10px;
	height: 70px;
	background-color:#24243e;
}
.closetab{
	font-size:25px;
	text-align:center;
	float:right;
	margin-top:10px;
	margin-right: 15px;
}
.closetab i{
	color: white;
	font-size: 30px;
}

.divider h3{
	color:white;
	font-size: 25px;
	
}
.divider h6{
	font-weight:normal;
	color:white;
	margin-top:0px;
	font-size:12px;	
}
.divider input{
	width:94%;
	height: 45px;
	margin-top: 15px;
	margin-left:10px;
	border: black solid 2px;
	padding-left:10px;
	font-size:17px;
	border-radius: 10px;
}

.divider #msg{
	width:90%;
	margin-top:20px;
	padding-left:10px;
	font-size: 15px;
	color:red;
}
.divider button{
	width:50%;
	height:40px;
	margin-top :10px;
	margin-left:10px;
	border-radius:15px;
	color:white;
	border-style:none;
	font-weight:bold;
	background-color:#24243e;
}





 
/* --------------------------------------------------------------------------------- */

 	/* desktop screen */

@media only screen and (min-width: 768px) {
	
	
.changecontainer{
	width: 100%;
	min-height: 100vh;
}

.changesection{
	width: 100%;
	min-height: 100vh;
	padding-top:25px;
	background: white;
	
}

.divider{
	width:40%;
	min-height: 390px;
	padding-left:0;
	margin:auto;
	color:black;
	padding-top:0;
	background-color: #ebeced;
}
.adj{
	width:100%;
	padding-top:10px;
	padding-left:20px;
	height: 70px;
	background-color:#24243e;
}
.closetab{
	font-size:25px;
	text-align:center;
	float:right;
	margin-top:10px;
	margin-right: 30px;
}
.closetab i{
	color: white;
	font-size: 30px;
}

.divider h3{
	color:white;
	
}
.divider h6{
	color:white;
	font-size: 15px;
	margin-top:0px;
}
.divider input{
	width:92%;
	height: 45px;
	margin-top: 20px;
	border: black solid 2px;
	padding-left:10px;
	margin-left:20px;
	font-size:17px;
	border-radius: 10px;
}

.divider #msg{
	width:90%;
	padding-left:25px;
	margin-bottom:-15px;
	font-size: 15px;
	color:red;
}
.divider button{
	width:43%;
	height:40px;
	margin-top :20px;
	margin-left:20px;
	border-radius:20px;
	color:white;
	font-weight:bold;
	background-color: #24243e;
}
	
	
	
}	







