@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.commentContainer{
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

.main{
	width: 95%;
	min-height: 80vh;
	margin: auto;
	padding-top:30px;
	padding-bottom:20px;
}

.commentbox{
	width: 100%;
	min-height: 80vh;
	margin:auto;
	border-radius:10px;
	background: linear-gradient(to bottom, #2c2b44, #454172, #3a3859);
	border:white solid 1px;
}

.profilediv{
	width: 100%;
	padding:5px;
	min-height: 50px;
	margin-top:5px;
	border-bottom:white solid 1px;
	display: flex;
}
.profilediv .photo{
	width:25%;
	min-height: 60px;
}
.profilediv .photo img{
	width:70%;
	height:50px;
	margin-left:10px;
	border-radius: 50px;
}
.profilediv .userdetails{
	color:white;
	width:70%;
	height:60px;
	margin-left:5px;
	font-size:20px;
	margin-top:5px;
	display:flex;
}

.closetab{
	width: 10%;
	height:60px;
	font-size:30px;
	text-align:center;
	padding-top:10px;
	color:white;
	margin-left: 20px;
}
.closetab i{
	color: aqua;
}

.userdetails #name{
	font-weight: bold;
}

.userdetails #username{
	font-size: 17px;
}


.commentuser{
	width: 100%;
	color:white;
	padding:5px;
	min-height: 40px;
	margin-top:5px;
	margin-bottom:10px;
	display: flex;
}
.commentuser:hover{
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
	border-radius: 20px;
}
.commentuser .photouser{
	width:20%;
	min-height: 40px;
}
.commentuser .photouser img{
	width:60%;
	height:40px;
	margin-left:10px;
	border-radius: 50px;
}
.commentuser .userdetailscomment{
	width:70%;
	min-height:40px;
	color:white;
	margin-left:5px;
}
.namedivuser{
	display: flex;
}
.userdetailscomment #username{
	font-weight: bold;
	font-size: 20px;
	padding-right: 30px;
}
.userdetailscomment #commentdate{
	font-size: 12px;
	margin-top: 10px;
}

#cnf{
	text-align: center;
	margin-top: 20px;
}




 /* --------------------------------------------------------------------------------- */

 	/* desktop screen */

@media only screen and (min-width: 768px) {
	
	
.commentContainer{
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

.main{
	width: 40%;
	min-height: 80vh;
	margin: auto;
	padding-top:30px;
	padding-bottom:20px;
}

.commentbox{
	width: 100%;
	min-height: 80vh;
	margin:auto;
	border-radius:10px;
	background:linear-gradient(to bottom, #2c2b44, #454172, #3a3859);;
	border:white solid 1px;
	box-shadow: 5px 5px 20px white;
}

.profilediv{
	width: 100%;
	padding:5px;
	min-height: 50px;
	margin-top:5px;
	border-bottom:white solid 1px;
	display: flex;
}
.profilediv .photo{
	width:15%;
	min-height: 60px;
}
.profilediv .photo img{
	width:70%;
	height:50px;
	margin-left:10px;
	border-radius: 50px;
}
.profilediv .userdetails{
	color:white;
	width:70%;
	height:60px;
	margin-left:5px;
	font-size:20px;
	margin-top:5px;
	display:flex;
}

.closetab{
	width: 10%;
	height:60px;
	font-size:30px;
	text-align:center;
	padding-top:10px;
	color:white;
	margin-left: 20px;
}
.userdetails #name{
	font-weight: bold;
}


.commentuser{
	width: 100%;
	color:white;
	padding:5px;
	min-height: 40px;
	margin-top:5px;
	margin-bottom:10px;
	display: flex;
}
.commentuser:hover{
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
	border-radius: 20px;
}
.commentuser .photouser{
	width:15%;
	min-height: 40px;
}
.commentuser .photouser img{
	width:55%;
	height:40px;
	margin-left:10px;
	border-radius: 50px;
}
.commentuser .userdetailscomment{
	width:70%;
	min-height:40px;
	color:white;
	margin-left:5px;
}
.namedivuser{
	display: flex;
}
.userdetailscomment #username{
	font-weight: bold;
	font-size: 20px;
	padding-right: 30px;
}
.userdetailscomment #commentdate{
	font-size: 12px;
	margin-top: 10px;
}

#cnf{
	text-align: center;
	margin-top: 20px;
}	
	
	

}	

