@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.commentContainer{
	width: 100%;
	min-height: 100vh;
	
}

.main{
	width: 100%;
	min-height: 100vh;
	margin: auto;
}

.commentbox{
	width: 100%;
	min-height: 100vh;
	margin:auto;
	background-color: var(--gray);
}

.profilediv{
	width: 100%;
	padding:5px;
	min-height: 50px;
	background-color:#24243e;
	color:white;
	border-bottom:var(--white) solid 1px;
	display: flex;
}
.profilediv .photo{
	width:25%;
	min-height: 60px;
}
.profilediv .photo img{
	width:60%;
	height:50px;
	margin-left:10px;
	margin-top:5px;
	border-radius: 50px;
}
.profilediv .userdetails{
	color:white;
	width:65%;
	height:60px;
	margin-left:-20px;
	font-size:20px;
	margin-top:10px;
	display:flex;
}

.closetab{
	width: 10%;
	height:60px;
	font-size:30px;
	text-align:center;
	padding-top:10px;
	color:white;
}
.closetab i{
	color: white;
}

.userdetails #name{
	font-weight: bold;
}

.userdetails #username{
	font-size: 15px;
}


.commentuser{
	width: 100%;
	color:var(--white);
	padding:5px;
	min-height: 40px;
	margin-top:5px;
	margin-bottom:10px;
	display: flex;
}
.commentuser:hover{
	background-color:var(--white);
}
.commentuser .photouser{
	width:20%;
	min-height: 40px;
}
.commentuser .photouser img{
	width:60%;
	height:40px;
	margin-left:10px;
	border-radius: 50px;
}
.commentuser .userdetailscomment{
	width:70%;
	min-height:40px;
	color:var(--voilet);
	margin-left:0px;
}
.userdetailscomment #username{
	font-weight: bold;
	font-size: 20px;
	padding-right: 30px;
}
.userdetailscomment #commentpro{
	margin-top: 5px;
}
.userdetailscomment #commentdate{
	font-size: 12px;
	margin-top: 5px;
}

#cnf{
	text-align: center;
	margin-top: 20px;
}




 /* --------------------------------------------------------------------------------- */

 	/* desktop screen */

@media only screen and (min-width: 768px) {
	
	
.commentContainer{
	width: 100%;
	min-height: 100vh;
	background: var(--pink);
}

.main{
	width: 40%;
	min-height: 100vh;
	margin: auto;
}

.commentbox{
	width: 100%;
	min-height: 100vh;
	margin:auto;
	border-radius:10px;
	border: var(--border) solid 1px;
	border-top: none;
}

.profilediv{
	width: 100%;
	padding:5px;
	min-height: 50px;
	border-bottom:var(--border) solid 1px;
	display: flex;
}
.profilediv .photo{
	width:15%;
	min-height: 60px;
}
.profilediv .photo img{
	width:70%;
	height:50px;
	margin-left:10px;
	border-radius: 50px;
}
.profilediv .userdetails{
	color:white;
	width:70%;
	height:60px;
	margin-left:5px;
	font-size:20px;
	margin-top:5px;
	display:flex;
}

.closetab{
	width: 10%;
	height:60px;
	font-size:30px;
	text-align:center;
	padding-top:10px;
	color:var(--white);
	margin-left: 20px;
}
.userdetails #name{
	font-weight: bold;
}


.commentuser{
	width: 100%;
	padding:5px;
	color:var(--voilet);
	min-height: 40px;
	margin-top:5px;
	margin-bottom:10px;
	display: flex;
}
.commentuser:hover{
	background: var(--white);
	border-radius: 20px;
}
.commentuser .photouser{
	width:15%;
	min-height: 40px;
}
.commentuser .photouser img{
	width:55%;
	height:40px;
	margin-left:10px;
	border-radius: 50px;
}
.commentuser .userdetailscomment{
	width:70%;
	min-height:40px;
	color:var(--voilet);
	margin-left:-10px;
}
.namedivuser{
	display: flex;
}
.userdetailscomment #username{
	font-weight: bold;
	font-size: 20px;
	padding-right: 40px;
}
.userdetailscomment #commentdate{
	font-size: 12px;
	margin-top: 5px;
}

#cnf{
	text-align: center;
	margin-top: 20px;
}	
	
	

}	

