@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.deletecontainer{
	width: 100%;
	min-height: 100vh;
	background-color: white;
}

.main{
	width: 100%;
	min-height: 100vh;
	margin:auto;
	padding-top: 150px;
	
}

.deletediv{
	width: 95%;
	min-height: 100vh;
	margin: auto;
}

.closetab{
	font-size:25px;
	text-align:center;
	float:right;
	align-content:center;
	margin-right: 20px;
}
.closetab i{
	font-size:30px;
	color: white;
}

#profile{
	width: 100%;
	height: 90px;
	border:white solid 1px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	background-color:#24243e;
	display:flex;
}

.photo{
	width:25%;
	height: 80px;
}

.photo img{
	width: 95%;
	height: 75px;
	margin-left:5px;
	border:black solid 1px;
	margin-top:5px;
	border-radius: 50px;
}
.userdetails{
	width: 70%;
	height: 90px;
	padding-left:5px;
	color:black;
	padding-top: 10px;
}
.userdetails #name{
	font-size: 25px;
	font-weight: bold;
	margin-top: 5px;
	color: white;
}
.userdetails #username{
	font-size: 15px;
	margin-top: 5px;
	color: white;
}

#request{
	width: 100%;
	height: 170px;
	border:#ebeced solid 1px;
	margin-top:0px;
	border-bottom-left-radius:25px;;
	border-bottom-right-radius:25px;
	background-color: #ebeced;;
}
#request h2{
	font-size:20px;
	text-align:center;
	margin-top: 60px;
}
.btndiv{
	width:100%;
	height:50px;
	padding-left:8%;
	margin-top: 10px;
	display:flex;
	
}
.btndiv #yesbtn{
	width:80px;
	height: 40px;
	border-radius:15px;
	margin-left:40px;
	border-style:none;
	color:white;
	background-color: #24243e;
	font-size:20px;
	font-weight: bold;
}

.btndiv #nobtn{
	width:80px;
	height: 40px;
	border-radius:15px;
	background-color: white;
	margin-left:30%;
	color:#24243e;
	font-size:20px;
	font-weight: bold;
}
#request #msg{
	margin-top:0px;
	font-size:12px;
	color:green;
	font-weight:bold;
	text-align: center;
}




/* --------------------------------------------------------------------------------- */

 	/* desktop screen */

@media only screen and (min-width: 768px) {
	
.deletecontainer{
	width: 100%;
	min-height: 100vh;
}

.main{
	width: 60%;
	min-height: 100vh;
	margin:auto;
	padding-top: 60px;
}

.deletediv{
	width: 80%;
	min-height: 70vh;
	margin: auto;
}

#profile{
	width: 95%;
	height: 90px;
	margin-left:10px;
	border:white solid 1px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	background-color:#24243e;
	display:flex;
}
.photo{
	width:14%;
	height: 80px;
}
.photo img{
	width: 90%;
	height: 75px;
	margin-left:5px;
	border:black solid 1px;
	margin-top:5px;
	border-radius: 50px;
}
.userdetails{
	width: 75%;
	height: 90px;
	color:black;
	padding-left:10px;
}
.userdetails #name{
	font-size: 25px;
	font-weight: bold;
	margin-top: 5px;
}
.userdetails #username{
	font-size: 20px;
	margin-top: 5px;
}
.closetab{
	font-size:25px;
	text-align:center;
	float:right;
	align-content:center;
	margin-right:0px;
}
.closetab i{
	font-size:35px;
	color: white;
}
#request{
	width: 95%;
	height: 185px;
	border:#ebeced solid 1px;
	margin-top:0px;
	margin-left:10px;
	border-bottom-left-radius:25px;;
	border-bottom-right-radius:25px;
	background-color: #ebeced;
}
#request h2{
	text-align:center;
	font-size:25px;
	margin-top: 50px;
}
.btndiv{
	width:100%;
	height:50px;
	margin-top: 20px;
	padding-left:0%;
	margin-left:33.33%;
	display:flex;
}
.btndiv #yesbtn{
	width:80px;
	height: 40px;
	border-radius:15px;
	margin-left:0px;
	background-color: #24243e;
	border-style:none;
	font-size:20px;
	font-weight: bold;
}

.btndiv #nobtn{
	width:80px;
	height: 40px;
	border-radius:15px;
	border-color:#24243e;
	background-color: white;
	margin-left:30%;
	color:#24243e;
	font-size:20px;
	font-weight: bold;
}
#request #msg{
	margin-top:0px;
	font-size:15px;
	color:green;
	font-weight:bold;
	text-align: center;
}
	
	
	
}	


