@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.editcontainer{
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
	display: flex;
}

.editmenu{
	width: 15%;
	min-height: 100vh;
	border-right:white solid 1px;
}

.editsection{
	width: 80%;
	min-height: 90vh;
	padding-top:10px;
	margin: auto;
	
}

.divider{
	width:55%;
	margin:auto;
	min-height: 430px;
	padding-top:15px;
	padding-left:20px;
	border: white solid 1px;
	background: linear-gradient(to bottom, #2c2b44, #454172, #3a3859);
	border-radius: 30px;
	box-shadow: 5px 10px 20px white;
}

.heading{
	display: flex;
}

.divider h3{
	width:85%;
	font-size:25px;
	color:white;
	
}
.closetab{
	font-size:30px;
	text-align:center;
	color:white;
	margin-left: 20px;
}
.photo{
	width:95%;
	height: 80px;
	display:flex;
	margin-top:10px;
	padding:5px;
	border: white solid 1px;
	border-radius: 20px;
	margin-bottom: 10px;
}

.photo #changebtn{
	width:150px;
	height:40px;
	margin-top:15px;
	border-radius:20px;
	color:white;
	background-color: deepskyblue;
}
.image{
	width:20%;
	height: 85px;
	position:relative;
	padding-left:10px;
}
.image img{
	width:75%;
	height:60px;
	border-radius: 30px;
}
.image a{
	width:25px;
	height:25px;
	font-size:20px;
	text-align:center;
	font-weight: bold;
	background-color:white;
	border-radius:20px;
	top:33px;
	right:12px;
	border:white solid 1px;
	position:absolute;
	text-decoration: none;
}


.userdetail{
	width: 35%;
	height: 60px;
}
.userdetail h4{
	color:white;
	overflow:hidden;
	font-size: 22px;
}
.userdetail #name{
	font-size: 17px;
}

.divider .pro{
	width:45%;
	height: 60px;
	border: none;
	color:white;
	margin-top: 15px;
}




.divider input{
	width:95%;
	height: 45px;
	border: black solid 2px;
	padding-left:10px;
	font-size:17px;
	margin-top:20px;
	border-radius: 10px;
}

.msg{
	width:90%;
	margin-top:5px;
	padding-left:10px;
	font-size: 20px;
	color:red;
}
#msg{
	width:90%;
	margin-top:5px;
	padding-left:10px;
	font-size: 20px;
	color:green;
	font-weight: bold;
}
.divider #editbtn{
	width:50%;
	height:40px;
	margin-top :10px;
	margin-left:125px;
	margin-bottom:20px;
	border-radius:20px;
	color:white;
	background-color: deepskyblue;
}













