@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.followercontainer{
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
	
}
.main{
	width:100%;
	min-height: 100vh;
	margin: auto;
}

.followersection{
	width:100%;
	min-height: 100vh;
	background-color: var(--gray);
	color: var(--voilet);
	font-size:20px;
	
}
.followersection .adj{
	width: 100%;
	height: 70px;
	display: flex;
	padding-top:10px;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
	padding-left:10px;
	margin-bottom: 5px;
}
.adj h4{
	width:90%;
	margin-top: 10px;
	color: white;
}

.closetab{
	width:30px;
	height:30px;
	font-size:25px;
	text-align:center;
	float:right;
	color:white;
	margin-top:10px;
	margin-right:5%;
}
.closetab i{
	color: white;
}

.userfollower{
	margin:auto;
	width: 100%;
	min-height: 80px;
	display: flex;
	background: linear-gradient(to bottom, #cfd0d1, var(--gray));
	border-top: var(--border) solid 1px;
	border-radius: 20px;
}

.userfollower .photo{
	width:20%;
	padding:5px;
	min-height: 50px;
}
.userfollower .photo img{
	width:100%;
	height:60px;
	border-radius: 40px;
	
}
.userfollower .userdetails{
	width:80%;
	height:60px;
	margin-left: 10px;
	margin-top:10px;
	display:flex;
}
.userdetails #namediv{
	width:60%;
	height:80px;
}
.userdetails #btndiv{
	width:40%;
	height:80px;
}
.userdetails #btndiv button{
	width:100px;
	height:35px;
	background-color:#24243e;
	color:white;
	border-radius: 15px;
	border-style: none;
}

.followersection #fnn{
	width:100%;
	font-size:17px;
	text-align:center;
	margin-top: 30px;
	color: var(--voilet);
}



 
/* --------------------------------------------------------------------------------- */

 	/* desktop screen */

@media only screen and (min-width: 768px) {


.followercontainer{
	width: 100%;
	min-height: 100vh;
	background: var(--pink);
	
}
.main{
	width:100%;
	min-height: 100vh;
	margin: auto;
}

.followersection{
	width:50%;
	min-height: 100vh;
	font-size:25px;
	border:var(--border) solid 1px;
	border-top:none;
	margin: auto;	
}
.followersection .adj{
	width: 100%;
	height: 70px;
	display: flex;
	padding-top:10px;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
	padding-left:10px;
	border-bottom:var(--border) solid 1px;
	margin-bottom: 5px;
}
.adj h4{
	width:90%;
	margin-top: 10px;
	padding-left:10px;
	color: white;
}
.closetab{
	width:30px;
	height:30px;
	font-size:30px;
	text-align:center;
	float:right;
	color:white;
	margin-top:10px;
	margin-right:5%;
}
.closetab i{
	color: white;
}

.userfollower{
	margin:auto;
	width: 100%;
	min-height: 80px;
	display: flex;
	border-top: var(--border) solid 1px;
	margin-top:0px;
	border-radius: 20px;
}
.userfollower .photo{
	width:15%;
	padding:5px;
	min-height: 70px;
}
.userfollower .photo img{
	width:75%;
	height:60px;
	margin-left:10px;
	border-radius: 40px;
}
.userfollower .userdetails{
	width:85%;
	height:80px;
	margin-top:10px;
	margin-left:-5px;
	display:flex;
}
.userdetails #namediv{
	width:77%;
	height:80px;
}
#namediv h6{
	font-weight: normal;
}
.followersection #fnn{
	width:100%;
	font-size:19px;
	text-align:center;
	margin-top: 30px;
	color: var(--voilet);
}
	
}

