@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.followingcontainer{
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
	
}
.main{
	width:100%;
	min-height: 100vh;
	margin: auto;
}

.followingsection{
	width:100%;
	min-height: 100vh;
	background-color: #ebeced;
	color: #24243e;
	font-size:20px;
	
}
.followingsection .adj{
	width: 100%;
	height: 70px;
	display: flex;
	padding-top:10px;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
	padding-left:10px;
	margin-bottom: 5px;
}
.adj h4{
	width:90%;
	margin-top: 10px;
	color: white;
}

.closetab{
	width:30px;
	height:30px;
	font-size:25px;
	text-align:center;
	float:right;
	color:white;
	margin-top:10px;
	margin-right:5%;
}
.closetab i{
	color: white;
}



.userfollowing{
	margin:auto;
	width: 100%;
	min-height: 80px;
	display: flex;
	background: linear-gradient(to bottom, #cfd0d1, #ebeced);
	border-top: #BDBDBD solid 1px;
	border-radius: 20px;
}

.userfollowing .photo{
	width:20%;
	padding:5px;
	min-height: 50px;
}
.userfollowing .photo img{
	width:100%;
	height:60px;
	border-radius: 40px;
	
}
.userfollowing .userdetails{
	width:80%;
	height:60px;
	margin-left: 10px;
	margin-top:10px;
	display:flex;
}
.userdetails #namediv{
	width:60%;
	height:80px;
}
.userdetails #btndiv{
	width:40%;
	height:80px;
}
.userdetails #btndiv button{
	width:100px;
	height:35px;
	background-color:#24243e;
	color:white;
	border-radius: 15px;
	border-style: none;
}


.followingsection #fnn{
	width:100%;
	font-size:17px;
	text-align:center;
	margin-top: 30px;
	color: #24243e;
}


 
/* --------------------------------------------------------------------------------- */

 	/* desktop screen */

@media only screen and (min-width: 768px) {


.followingcontainer{
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(to right, #e8e6f7, white, #e8e6f7);
	
}
.main{
	width:100%;
	min-height: 100vh;
	margin: auto;
}

.followingsection{
	width:50%;
	min-height: 100vh;
	font-size:25px;
	margin: auto;	
}
.followingsection .adj{
	width: 100%;
	height: 70px;
	display: flex;
	padding-top:10px;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
	padding-left:10px;
	margin-bottom: 5px;
}
.adj h4{
	width:90%;
	margin-top: 10px;
	padding-left:10px;
	color: white;
}
.closetab{
	width:30px;
	height:30px;
	font-size:30px;
	text-align:center;
	float:right;
	color:white;
	margin-top:10px;
	margin-right:5%;
}
.adj h4{
	width:90%;
	margin-top: 10px;
	padding-left:10px;
	color: white;
}
.closetab i{
	color: white;
}

.userfollowing{
	margin:auto;
	width: 100%;
	min-height: 60px;
	display: flex;
	border-top: #BDBDBD solid 1px;
	border-radius: 20px;
}


.userfollowing .photo{
	width:15%;
	padding:5px;
	min-height: 70px;
}
.userfollowing .photo img{
	width:75%;
	height:60px;
	margin-left:10px;
	border-radius: 40px;
}
.userfollowing .userdetails{
	width:85%;
	height:80px;
	margin-top:10px;
	margin-left:-5px;
	display:flex;
}
.userdetails #namediv{
	width:77%;
	height:80px;
}
#namediv h6{
	font-weight: normal;
}
.userdetails #btndiv{
	width:20%;
	height:80px;
}
.userdetails #btndiv button{
	width:100px;
	height:35px;
	background-color:#24243e;
	color:white;
	border-radius: 15px;
	border-style: none;
}

.followingsection #fnn{
	width:100%;
	font-size:19px;
	text-align:center;
	margin-top: 30px;
	color: #24243e;
}

	
}

