@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.changecontainer{
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}
.changesection{
	width: 40%;
	min-height: 90vh;
	padding-top:30px;
	margin: auto;
	
}

.divider{
	width:80%;
	margin:auto;
	min-height: 400px;
	position:relative;
	padding-top:20px;
	padding-left:20px;
	border: white solid 1px;
	border-radius: 30px;
	background-color:white;
	box-shadow: 5px 10px 20px black;
}

.divider .closetab{
	width:15%;
	font-size:30px;
	text-align:center;
	float:right;
	color:#24243e;
}
.closetab i{
	color: #24243e;
}

.divider h3{
	font-size:25px;
	color:#24243e;
	
}

.otpverifydiv h3{
	width:90%;
	margin-top:-20px;
}

#otpverifybtn:hover{
	background: #6d44b8;
	border: #24243e solid 2px;
}


.divider h5{
	color:#24243e;
	width:95%;
	font-size: 17px;
	padding-top:20px;
	font-weight:normal;
	text-align:center;
}
.divider input{
	width:95%;
	height: 45px;
	margin-top: 25px;
	border: black solid 2px;
	padding-left:10px;
	font-size:17px;
	border-radius: 10px;
}

.divider .msg{
	width:95%;
	height:40px;
	margin-top:5px;
	padding-left:10px;
	font-size: 17px;
	color:red;
}
.divider button{
	width:90%;
	height:40px;
	border-radius:15px;
	font-size:20px;
	font-weight:bold;
	color:white;
	position:absolute;
	border-style:none;
	bottom:20px;
	background-color: #24243e;
}

.usernamediv #usernamenextbtn{
	width:90%;
	height:40px;
	font-size:20px;
	position:absolute;
	bottom:70px;
	border-radius:15px;
	border-style:none;
	color:white;
	background-color: #24243e;
	font-size:20px;
	font-weight: bold;
}

#usernamenextbtn:hover{
	background: #6d44b8;
	border: #24243e solid 2px;
}

#emailconfirmbtn{
	width:90%;
	height:40px;
	font-size:20px;
	position:absolute;
	bottom:70px;
	border-radius:15px;
	border-style:none;
	color:white;
	background-color: #24243e;
	font-size:20px;
	font-weight: bold;
}
#emailconfirmbtn:hover{
	background: #6d44b8;
	border: #24243e solid 2px;
}


.divider #cancelbtn{
	width:90%;
	height:40px;
	position:absolute;
	bottom:20px;
	border-radius:15px;
	background-color: white;
	border:#24243e solid 2px;
	color:#24243e;
	font-size:20px;
	font-weight: bold;
}

#cancelbtn:hover{
	background: #e0dede;
}

.emaildiv{
 	display: none;
}
.sendotpdiv{
	display:none;
}
.otpverifydiv{
 	display:none;
}

.forgotdiv{
	display:none;
} 




/* ----------------------------------------------------------------------------- */

/* Media Query mobile*/

@media only screen and (max-width: 480px) {
	
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.changecontainer{
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
	
}

.changesection{
	width: 100%;
	min-height: 90vh;
	padding-top:30px;
	margin: auto;
	
}

.divider{
	width:90%;
	margin:auto;
	min-height: 400px;
	margin-top:40px;
	position:none;
	padding-top:15px;
	padding-left:15px;
	border: 0;
	border-radius: 30px;
	box-shadow: none;
}

.divider .closetab{
	width:15%;
	font-size:20px;
	text-align:center;
	float:right;
	color:white;
}
.closetab i{
	font-size: 25px;
	padding-top: 3px;
}
.divider .msg{
	width:95%;
	height:40px;
	margin-top:5px;
	padding-left:10px;
	font-size: 15px;
	color:red;
}
.divider h3{
	font-size:25px;
	color:#24243e;
	
}
.forgotdiv #msg{
	width:95%;
	height:50px;
	padding-left:10px;
	font-size: 14px;
	color:red;
}
	
}	










