@charset "UTF-8";


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.notificationcontainer{
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

.notificationmenu{
	display: none;
}

.notificationmain{
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

.notificationmain .notificationbox{
	width: 100%;
	min-height: 100vh;
	background-color: #ebeced;
	margin:auto;
	color:white;
}

.notificationdiv{
	width: 100%;
	padding:5px;
	min-height: 50px;
	padding-bottom:10px;
	background: linear-gradient(to bottom, #2c2b44, #454172, #3a3859);
	display: flex;
}
.notificationdiv .details{
	width:85%;
	height:75px;
	margin-left:5px;
	font-size:20px;
	margin-top:5px;
	padding-left:10px;
	color:white;
}
.details h4{
	font-weight: bold;
}
.details #name{
	width:45px;
	height:36px;
	font-weight: bold;
	border-radius: 20px;
	text-align: center;
	padding-top: 2px;
	background-color: white;
}
.details #name a{
	color: #24243e;
	text-decoration: none;
}

.closetab{
	width: 10%;
	height:70px;
	font-size:30px;
	text-align:center;
	padding-top:10px;
	color:white;
	margin-left: 5px;
}
.closetab i{
	color: white;
}
.notificationuser{
	width: 100%;
	min-height: 40px;
	padding-left:15px;
	padding-top:5px;
	padding-bottom:10px;
	display: flex;
	background-color: #ebeced;
}

.deletenotification a{
	font-size: 18px;
	color: #24243e;
}

.notificationuser:hover{
	background: linear-gradient(#ffffff, #f8f8f8);
	border-radius: 0;
	color: white;
}
.notificationuser .photouser{
	width:20%;
	height: 55px;
}
.notificationuser .photouser img{
	width:80%;
	height:52px;
	border-radius: 50px;
}
.userdetailsnotification{
	width:70%;
	min-height:40px;
	padding-left:5px;
	color:black;
}
.namedivuser{
	width:100%;
	min-height:40px;
	color:black;
}

.userdetailsnotification #username{
	font-weight: bold;
	font-size: 20px;
	color:black;
}
.namedivuser #notificationpro{
	font-size: 15px;
}
.userdetailsnotification .spdatetime{
	display:flex;
	font-size: 12px;
	margin-top: 10px;
}
.userdetailsnotification #notificationdate{
	margin-right: 50px;
}
#nnf{
	text-align: center;
	font-weight:bold;
	font-size:20px;
	color:#24243e;
	margin-top: 20px;
}
 
 
 
 
 
 
 /* --------------------------------------------------------------------------------- */

 	/* desktop screen */

@media only screen and (min-width: 768px) {
	
.notificationcontainer{
	width: 100%;
	min-height: 100vh;
	display: flex;
}

.notificationmenu{
	display: block;
	width: 15%;
	min-height: 100vh;
	position: fixed;
}

.notificationmain{
	width: 85%;
	margin-left:15%;
	min-height: 100vh;
	padding-top:0;
	background: linear-gradient(to right, #e8e6f7, white, #e8e6f7);
}

.notificationmain .notificationbox{
	width: 80%;
	min-height: 100vh;
	margin:auto;
	color:white;
	padding-top:0;
	background-color: #ebeced;
}

.notificationdiv{
	width: 100%;
	padding:5px;
	min-height: 50px;
	margin-top:0;
	background: linear-gradient(to bottom, #2c2b44, #454172, #3a3859);
	border-bottom:white solid 1px;
	display: flex;
}


.notificationdiv .details{
	color:black;
	width:85%;
	height:75px;
	margin-left:5px;
	font-size:20px;
	margin-top:5px;
	padding-left:10px;
	color:white;
}

.adj .cout0{
	display: none;
}
.details .adj{
	display: flex;
}
.adj i{
	margin-left:5px;
	font-size: 27px;
	color: deepskyblue;
	/* background-color: white; */
	border-radius: 30px;
}
.adj #cout{
	position: relative;
}
#cout h6{
	position: absolute;
	top: 1px;
	font-size:18px;
	color:deepskyblue;
	left: 14px;
	
}

.details h4{
	font-weight: bold;
}

.details #name{
	width:45px;
	height:36px;
	font-weight: bold;
	border-radius: 20px;
	text-align: center;
	padding-top: 2px;
	background-color: white;
}
.details #name a{
	text-decoration: none;
}

.closetab{
	width: 10%;
	height:70px;
	font-size:30px;
	text-align:center;
	padding-top:10px;
	color:white;
	margin-left: 30px;
}

.notificationuser{
	width: 100%;
	min-height: 40px;
	padding:5px;
	padding-top:5px;
	padding-bottom:10px;
	display: flex;
	background-color: #ebeced;
}

.notificationuser .deletenotification{
	width: 5%;
	height: 40px;
	margin-left: 13%;
	margin-top: 20px;
	font-size: 15px;
	color: black;
}
#notificationuserno .deletenotification{
	margin-left: 11.5%;
}

.deletenotification a{
	font-size: 18px;
	color: black;
}
.deletenotification a:hover{
	color: red;
	font-size: 21px;	
}
.notificationuser:hover{
	background: linear-gradient(#ffffff, #f8f8f8);
	border-radius: 0;
	color: white;
}
.notificationuser .photouser{
	width:10%;
	min-height: 40px;
}

.notificationuser .photouser img{
	width:65%;
	height:50px;
	border-radius: 50px;
	margin-left: 15px;
}

.notificationuser .userdetailsnotification{
	width:70%;
	min-height:40px;
	color:black;
	margin-left:5px;
}
.namedivuser{
	display: flex;
	color:black;
}

.namedivuser #notificationpro{
	font-size: 18px;
}
.userdetailsnotification #username{
	font-weight: bold;
	font-size: 18px;
	color:black;
	padding-right: 10px;
}
.userdetailsnotification .spdatetime{
	display:flex;
	font-size: 12px;
	margin-top: 10px;
}
.userdetailsnotification #notificationdate{
	margin-right: 50px;
}


.notificationuser #dot{
	display: none;
}
#notificationuserno #dot{
	display:block;
	font-size: 12px;
	align-self:center;
	color: blue;
}

#nnf{
	text-align: center;
	font-weight:bold;
	color:#24243e;
	font-size:20px;
	margin-top: 20px;
}
	
	
}	
 
 
 
