@charset "UTF-8";


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.notificationcontainer{
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(to bottom, #0f0c29, #302b63, );
}

.notificationmenu{
	display: none;
}

.notificationmain{
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(to bottom, #0f0c29, #302b63, );
}

.notificationmain .notificationbox{
	width: 100%;
	min-height: 100vh;
	background-color: var(--gray);
	margin:auto;
	color:white;
}

.notificationdiv{
	width: 100%;
	padding:5px;
	min-height: 50px;
	padding-bottom:10px;
	background: linear-gradient(to bottom, #2c2b44, #454172, #3a3859);
	display: flex;
}
.notificationdiv .details{
	width:85%;
	height:75px;
	margin-left:5px;
	font-size:20px;
	margin-top:5px;
	padding-left:10px;
	position:relative;
	color:white;
}

.details .adj {
    display: flex;
    align-items: center;
}

.adj #cout {
    position: relative;
}
.adj .cout0{
	display: none;
}

.adj i {
    margin-left: 5px;
    font-size: 27px;
    border: #24243e solid 2px;
    color: red;
    border-radius: 50%;
    justify-content: center; 
    align-items: center; 
}

#cout h6 {
    position: absolute;
    top: 45%;
    left: 55%;
    transform: translate(-50%, -50%); 
    font-size: 1.1rem;
    color: white;
}



.details h4{
	font-weight: bold;
}
.details #name{
	width:45px;
	height:36px;
	font-weight: bold;
	border-radius: 20px;
	text-align: center;
	padding-top: 2px;
	background-color: white;
}
.details #name a{
	text-decoration: none;
}

.details #clearAll{
	width:4rem;
	height: 25px;
	font-size: 1rem;
	position: absolute;
	text-decoration:none;
	color:white;
	left: 5rem;
	cursor:pointer;
	top: 2.4rem;
}

.closetab{
	width: 10%;
	height:70px;
	font-size:30px;
	text-align:center;
	padding-top:10px;
	color:white;
	margin-left: 5px;
}
.closetab i{
	color: white;
}
.notificationuser{
	width: 100%;
	min-height: 40px;
	padding-left:15px;
	padding-top:5px;
	padding-bottom:10px;
	display: flex;
	background-color: var(--gray);
}
.notificationuser .deletenotification{
	width: 5%;
	height: 40px;
	margin-top: 5px;
	font-size: 15px;
	color: var(--darkgray);
}
#notificationuserno .deletenotification{
	margin-left: 5%;
}

.deletenotification a{
	font-size: 18px;
	color: var(--darkgray);
}

.notificationuser #dot{
	display: none;
}
#notificationuserno #dot{
	display:block;
	font-size: 12px;
	margin-right:-30px;
	align-self:center;
	color: blue;
}
.notificationuser:hover{
	background: linear-gradient(#ffffff, #f8f8f8);
	border-radius: 0;
	color: white;
}
.notificationuser .photouser{
	width:20%;
	height: 55px;
}
.notificationuser .photouser img{
	width:80%;
	height:52px;
	border-radius: 50px;
}
.userdetailsnotification{
	width:70%;
	min-height:40px;
	padding-left:5px;
	color:var(--voilet);
}
.namedivuser{
	width:100%;
	min-height:40px;
	color:var(--voilet);
}

.userdetailsnotification #username{
	font-weight: bold;
	font-size: 20px;
	color:var(--voilet);
}
.namedivuser #notificationpro{
	font-size: 15px;
}
.userdetailsnotification .spdatetime{
	display:flex;
	font-size: 12px;
	margin-top: 10px;
}
.userdetailsnotification #notificationdate{
	margin-right: 50px;
}


#nnf{
	text-align: center;
	font-weight:bold;
	font-size:20px;
	color:var(--voilet);
	margin-top: 20px;
}
 
 
 
 
 
 
 /* --------------------------------------------------------------------------------- */

 	/* desktop screen */

@media only screen and (min-width: 768px) {
	
.notificationcontainer{
	width: 100%;
	min-height: 100vh;
	display: flex;
}

.notificationmenu{
	display: block;
	width: 15%;
	min-height: 100vh;
	position: fixed;
}

.notificationmain{
	width: 85%;
	margin-left:15%;
	min-height: 100vh;
	border-left:var(--border) solid 1px;
	padding-top:0;
	background: var(--pink);
}

.notificationmain .notificationbox{
	width: 80%;
	min-height: 100vh;
	margin:auto;
	color:white;
	padding-top:0;
	background-color: var(--gray);
}

.notificationdiv{
	width: 100%;
	padding:5px;
	min-height: 50px;
	margin-top:0;
	background: linear-gradient(to bottom, #2c2b44, #454172, #3a3859);
	display: flex;
}


.notificationdiv .details{
	color:var(--voilet);
	width:85%;
	height:75px;
	margin-left:5px;
	font-size:20px;
	margin-top:5px;
	padding-left:10px;
	color:white;
}

.details .adj {
    display: flex;
    align-items: center;
}
.adj .cout0{
	display: none;
}

.adj #cout {
    position: relative;
}

.adj i {
    margin-left: 5px;
    font-size: 27px;
    border: #24243e solid 2px;
    color: red;
    border-radius: 50%;
    justify-content: center; 
    align-items: center; 
}

#cout h6 {
    position: absolute;
    top: 45%;
    left: 55%;
    transform: translate(-50%, -50%); 
    font-size: 1.1rem;
    color: white;
}

.details h4{
	font-weight: bold;
}

.details #name{
	width:45px;
	height:36px;
	font-weight: bold;
	border-radius: 20px;
	text-align: center;
	padding-top: 2px;
	background-color: white;
}
.details #name a{
	text-decoration: none;
}

.closetab{
	width: 10%;
	height:70px;
	font-size:30px;
	text-align:center;
	padding-top:10px;
	color:white;
	margin-left: 30px;
}

.notificationuser{
	width: 100%;
	min-height: 40px;
	padding:5px;
	padding-top:5px;
	padding-bottom:10px;
	display: flex;
	background-color: var(--gray);
}

.notificationuser .deletenotification{
	width: 5%;
	height: 40px;
	margin-left: 13%;
	margin-top: 20px;
	font-size: 15px;
	color: var(--darkgray);
}
#notificationuserno .deletenotification{
	margin-left: 11.5%;
}

.deletenotification a{
	font-size: 18px;
	color: var(--darkgray);
}
.deletenotification a:hover{
	color: red;
	font-size: 21px;	
}
.notificationuser:hover{
	background: var(--white);
	border-radius: 0;
	color: white;
}
.notificationuser .photouser{
	width:10%;
	min-height: 40px;
}

.notificationuser .photouser img{
	width:60%;
	height:50px;
	border-radius: 50px;
	margin-left: 15px;
}

.notificationuser .userdetailsnotification{
	width:70%;
	min-height:40px;
	color:var(--voilet);
	margin-left:5px;
}
.namedivuser{
	display: flex;
	color:var(--voilet);
}

.namedivuser #notificationpro{
	font-size: 18px;
}
.userdetailsnotification #username{
	font-weight: bold;
	font-size: 18px;
	color:var(--voilet);
	padding-right: 10px;
}
.userdetailsnotification .spdatetime{
	display:flex;
	font-size: 12px;
	margin-top: 10px;
}
.userdetailsnotification #notificationdate{
	margin-right: 50px;
}


.notificationuser #dot{
	display: none;
}
#notificationuserno #dot{
	display:block;
	font-size: 12px;
	margin-right:0px;
	align-self:center;
	color: blue;
}

#nnf{
	text-align: center;
	font-weight:bold;
	color:var(--voilet);
	font-size:20px;
	margin-top: 20px;
}
	
	
}	
 
 
 
