@charset "UTF-8";

	/* mobile phone */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.postcontainer{
	width: 100%;
	min-height: 100vh;
}

.postmenus{
	width:100%;
	min-height: 50px;
	position: fixed;
}

.postsection{
	width: 100%;
	min-height: 100vh;
	padding-top:80px;
	background-color: #ebeced;
}

.postimg{
	width: 60%;
	min-height: 20vh;
	margin: auto;
	padding-top:5px;
	background-color: #ebeced;
	
}
.postimg img{
	width: 100%;
	min-height: 20vh;
	border:black solid 1px;
}
	

.postlayout{
	width: 100%;
	min-height: 60vh;
	padding-bottom:40px;
	background-color: #ebeced;
	
}
.postlayout h3{
	padding-top: 20px;
	text-align:center;
	color: black;
	
}

.suces{
	color: green;
	font-size:15px;
	margin-left: 25%;
	margin-bottom: -20px;
}

.postlayout #postfrm{
	margin-top:20px;
	margin-left: 15px;
}


.postlayout #postname{
    width: 95%;
    height: 150px;
    border: black solid 1px;
    padding-left: 10px;
    padding-top:10px;
    font-size: 17px;
    border-radius: 10px;
    resize: vertical;
    overflow: auto; 
}

.postlayout h6{
	color:black;
	margin-top: 30px;
}

.postlayout #select{
	width :95%;
	border: black solid 1px;
	color:black;
	background-color:white;
	padding: 10px;
	border-radius: 5px;
}
#postimagefile::-webkit-file-upload-button{
      background-color: #24243e;
      color: white;
      border:#24243e solid 2px; 
      border-radius: 10px;
  }
.postlayout #pst{
	width: 70px;
	height: 40px;
	border-radius:15px;
	background-color: #24243e;
	border:none;
	color: white;
	margin-top: 10px;
}



/* ----------------------------------------------------------- */

 	/* desktop screen */

@media only screen and (min-width: 768px) {
	
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.postcontainer{
	width: 100%;
	min-height: 100vh;
	display: flex;
}

.postmenus{
	width:15%;
	min-height: 100vh;
	position: static;
	
}

.postsection{
	width: 85%;
	min-height: 90vh;
	padding-top:0px;
	border-left: #BDBDBD solid 1px;
}

.postlayout{
	width: 100%;
	min-height: 100vh;
	display:flex;
	position:relative;
	
}
.postimg{
	width: 40%;
	align-content:center;
	min-height: 90vh;
	padding-top:10vh;
	
}
.postimg img{
	width: 70%;
	height: 45vh;
	margin-bottom:10vh;
	margin-left: 60px;
	border:#24243e solid 1px;
}

.postlayout h3{
	width:100%;
	position:absolute;
	padding-bottom:20px;
	background-color: #24243e;
	color: white;
	
}

.suces{
	color: green;
}

.postlayout #postfrm{
	width:60%;
	margin-top:70px;
	margin-left: 50px;
}


#postfrm #postname{
    width: 80%;
    height: 150px;
    border: black solid 1px;
    padding-left: 10px;
    padding-top:10px;
    font-size: 17px;
    border-radius: 10px;
    overflow: auto; 
}

.postlayout h6{
	color:#24243e;
	margin-top: 30px;
}

.postlayout #select{
	width :80%;
	border: black solid 1px;
	color:#24243e;
	padding: 10px;
	border-radius: 5px;
}

.postlayout #pst{
	width: 70px;
	height: 40px;
	border-radius:15px;
	background-color: deepskyblue;
	border:none;
	color: white;
}

	
}	






