@charset "UTF-8";

	/* mobile phone */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.postcontainer{
	width: 100%;
	min-height: 100vh;
}

.postmenus{
	width:100%;
	min-height: 50px;
	border-bottom:white solid 1px;
}

.postsection{
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

.postimg{
	width: 60%;
	min-height: 20vh;
	margin: auto;
	padding-top:5px;
	background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
	
}
.postimg img{
	width: 100%;
	min-height: 20vh;
}
	

.postlayout{
	width: 100%;
	min-height: 60vh;
	padding-bottom:40px;
	background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
	
}
.postlayout h3{
	padding-top: 20px;
	text-align:center;
	color: white;
	
}

.suces{
	color: green;
}

.postlayout #postfrm{
	margin-top:20px;
	margin-left: 15px;
}


.postlayout #postname{
    width: 95%;
    height: 150px;
    border: black solid 2px;
    padding-left: 10px;
    padding-top:10px;
    font-size: 17px;
    border-radius: 10px;
    resize: vertical;
    overflow: auto; 
}

.postlayout h6{
	color:white;
	margin-top: 30px;
}

.postlayout #select{
	width :95%;
	border: white solid 1px;
	color:white;
	padding: 10px;
	border-radius: 5px;
}

.postlayout #pst{
	width: 70px;
	height: 40px;
	border-radius:20px;
	background-color: deepskyblue;
	border:none;
	color: white;
	margin-top: 20px;
}



/* ----------------------------------------------------------- */

 	/* desktop screen */

@media only screen and (min-width: 768px) {
	
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.postcontainer{
	width: 100%;
	min-height: 100vh;
	display: flex;
}

.postmenus{
	width:15%;
	min-height: 100vh;
}

.postsection{
	width: 85%;
	min-height: 100vh;
	display: flex;
	border-left: white solid 1px;
}

.postimg{
	width: 40%;
	height: 100vh;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
	
}
.postimg img{
	width: 70%;
	height: 80vh;
	padding-top:130px;
	margin-left: 60px;
}
	

.postlayout{
	width: 60%;
	min-height: 100vh;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}
.postlayout h3{
	margin-top: 20px;
	text-align:left;
	color: white;
	
}

.suces{
	color: green;
}

.postlayout #postfrm{
	margin-top:50px;
	margin-left: 50px;
}


#postfrm #postname{
    width: 80%;
    height: 150px;
    border: aqua solid 1px;
    padding-left: 10px;
    padding-top:10px;
    font-size: 17px;
    border-radius: 10px;
    overflow: auto; 
}

.postlayout h6{
	color:white;
	margin-top: 30px;
}

.postlayout #select{
	width :80%;
	border: white solid 1px;
	color:white;
	padding: 10px;
	border-radius: 5px;
}

.postlayout #pst{
	width: 70px;
	height: 40px;
	border-radius:20px;
	background-color: deepskyblue;
	border:none;
	color: white;
	margin-top: 20px;
	margin-left: 400px;
}

	
}	






