@charset "UTF-8";


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}

.chartcontainer{
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(to right, #e8e6f7, white, #e8e6f7);
}

.chart{
	
	width: 60%;
	min-height: 80vh;
	margin:auto;
}
.heading{
	width:100%;
	display: flex;
}
.heading h1{
	width:100%;
	color:#24243e;
	text-align:center;
	padding-top: 20px;
	padding-left: 80px;
}
.heading .closetab{
	width:10%;
	font-size:30px;
	text-align:center;
	color:white;
	padding-top: 20px;
}
.heading .closetab a{
	color: #24243e;
}
.area{
	width: 100%;
	min-height: 80vh;
	background-color: white;
	margin-top:20px;
	padding:10px;
	box-shadow: 5px 10px 20px #878787;
	border-radius:20px;
	border: #24243e solid 1px;
}