@charset "UTF-8";


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}

.chartcontainer{
	width: 100%;
	min-height: 100vh;
	background: black;
}

.chart{
	
	width: 60%;
	min-height: 80vh;
	margin:auto;
}
.heading{
	width:100%;
	display: flex;
}
.heading h1{
	width:90%;
	color:white;
	text-align:center;
	padding-top: 20px;
	padding-left: 50px;
}
.heading .closetab{
	width:10%;
	font-size:30px;
	text-align:center;
	color:white;
	padding-top: 20px;
	margin-left: 20px;
}
.heading .closetab a{
	color: aqua;
}
.area{
	width: 100%;
	min-height: 80vh;
	background:white;
	margin-top:20px;
	padding:10px;
	box-shadow: 5px 10px 20px white;
	border-radius:20px;
	border: white solid 1px;
}