@charset "UTF-8";
 
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

 .registercontainer{
	width:100%;
	min-height: 100vh;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
 }
 
 .adj{
 	width: 100%;
 	min-height:100vh;
 	margin:auto;
 	padding-top: 30px;
 	
 }
 .register{
	width: 370px;
	min-height: 500px;
	background-color:white;
	color:#24243e;
	margin:auto;
	box-shadow: 5px 20px 50px #000;
	border-radius: 40px;
	padding-top:20px;
}
	

.logo{
	height:40px;
	font-size: 1.7em;
	margin-bottom:10px;
	text-align:center;
	font-weight:bold;

}
.msg{
	width: 80%;
	color:red;
	margin-left: 35px;
}
.msgsuccess{
	width: 80%;
	color:green;
	font-size:20px;
	font-weight:bold;
	margin-left: 35px;
}

input{
	width: 80%;
	height: 40px;
	background: #e0dede;
	border-style:none;
	margin-left:35px;
	padding-left:10px;
	border-radius: 5px;
}
.capdiv{
	width: 90%;
	margin: auto;
	padding-left: 15px;
}
.register #recapt{
	margin-top:10px;
	margin-bottom:20px;
}
button{
	width: 80%;
	height: 40px;
	color: #fff;
	background: #24243e;
	font-size: 1.2em;
	font-weight: bold;
	margin-left:35px;
	border-radius: 15px;
}

button:hover{
	background: #6d44b8;
}

.next {
	width:100%;
	height:40px;
	text-align: center;
	margin-top: 10px;
}
.next #regtag{
	color:deepskyblue;
	 text-decoration: none;
	 font-size: 17px;
}

#otpconfirmGrid{
	width: 100%;
	margin-top:5px;
	display: flex;
}
#otpverifybtn{
	width: 30%;
	font-size:15px;
	border-radius:15px;
	margin-left: 3.8em;
}


#otpinput{
	width: 40%;
}

#otpverifybtn{
	width: 25%;
}

.otpverifydiv h4{
	width: 80%;
	margin-left: 35px;
}

.otpverifydiv{
	display: none;
}




/* -------------------------------------------------------------- */

/* Media Query mobile*/

@media only screen and (max-width: 480px) {

.adj{
	padding-top: 70px;
}

.register{
	width: 320px;
	color: #24243e;

 }
  
 .logo{
	font-size: 2em;
	margin-bottom:20px;
	text-align:center;
	font-weight:bold;
	margin-left: 0px;
	color: #24243e;

}

.msg{
	width: 90%;
	color:red;
	font-size:13px;
	margin-left: 15px;
	padding-top: 5px;
}
.msgsuccess{
	width: 90%;
	color:green;
	font-size:15px;
	font-weight:bold;
	margin-left: 15px;
}

input{
	width: 90%;
	height: 40px;
	background: #e0dede;
	border-style:none;
	margin-left:15px;
	padding-left:10px;
	border-radius: 5px;
}
  .capdiv{
	width: 100%;
	padding-left: 0;
	margin: auto;
}

.register #recapt{
    width:90%;
	transform: scale(0.96);
	margin-left: 7px;
	margin-top: 0;
}
  
button{
	width: 90%;
	height: 40px;
	color: white;
	background: #24243e;
	font-size: 1.2em;
	font-weight: bold;
	border-style:none;
	margin-left:15px;
	border-radius: 15px;
}
.next {
	width:95%;
	height:40px;
	text-align: center;
	margin-top: 10px;
}
.next #regtag{
	width:100%;
	 color:deepskyblue;
	 font-size: 15px;
	 margin-left:15px;
}

#otpconfirmGrid{
	width: 100%;
	margin-top:5px;
	margin-left:0;
	display: flex;
}

#otpinput{
	width: 50%;
	margin-left: 0;
}

#otpverifybtn{
	width: 30%;
	font-size:15px;
	border-radius:15px;
	margin-left: 3.8em;
}

.otpverifydiv h4{
	width: 100%;
	font-size:13px;
	color:#24243e;
	margin-left:0;
}

.otpverifydiv{
	width:90%;
	padding-top:10px;
	padding-bottom:10px;
	margin-left:15px;
	display: none;
}


}

