@charset "UTF-8";
 
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

 .registercontainer{
	width:100%;
	min-height: 100vh;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
 }
 
 .adj{
 	width: 100%;
 	min-height:100vh;
 	margin:auto;
 	padding-top: 30px;
 	
 }
 .register{
	width: 370px;
	min-height: 500px;
	background-color:white;
	color:black;
	margin:auto;
	box-shadow: 5px 20px 50px #000;
	border-radius: 40px;
	padding-top:20px;
}
	

.logo{
	height:40px;
	font-size: 1.5em;
	margin-bottom:10px;
	text-align:center;
	font-weight:bold;

}
.msg{
	width: 80%;
	color:red;
	margin-left: 35px;
}
.msgsuccess{
	width: 80%;
	color:green;
	font-size:20px;
	font-weight:bold;
	margin-left: 35px;
}

input{
	width: 80%;
	height: 40px;
	background: #e0dede;
	border-style:none;
	margin-left:35px;
	padding-left:10px;
	border-radius: 5px;
}
.capdiv{
	width: 90%;
	margin: auto;
	padding-left: 15px;
}
.register #recapt{
	margin-top:10px;
	margin-bottom:20px;
}
button{
	width: 80%;
	height: 40px;
	color: #fff;
	background: #573b8a;
	font-size: 1.2em;
	font-weight: bold;
	margin-left:35px;
	border-radius: 5px;
}

button:hover{
	background: #6d44b8;
}

.next {
	width:100%;
	height:40px;
	text-align: center;
	margin-top: 10px;
}
.next #regtag{
	 text-decoration: none;
	 font-size: 17px;
}

#otpconfirmGrid{
	width: 100%;
	margin-top:5px;
	display: flex;
}

#otpinput{
	width: 40%;
}

#otpverifybtn{
	width: 25%;
}

.otpverifydiv h4{
	width: 80%;
	margin-left: 35px;
}

.otpverifydiv{
	display: none;
}




/* -------------------------------------------------------------- */

/* Media Query mobile*/

@media only screen and (max-width: 480px) {

 .adj{
 	padding-top: 70px;
 }
 
 .register{
	width: 350px;
	color:white;
	background:0;
	border-radius: 0;
	box-shadow:none;
  }
  
  .logo{
	font-size: 2em;
	margin-bottom:20px;
	text-align:center;
	font-weight:bold;
	margin-left: 20px;

}

.msg{
	width: 90%;
	color:red;
	margin-left: 20px;
	padding-top: 5px;
}
.msgsuccess{
	width: 90%;
	color:green;
	font-size:20px;
	font-weight:bold;
	margin-left: 20px;
}

input{
	width: 90%;
	height: 40px;
	background: #e0dede;
	border-style:none;
	margin-left:20px;
	padding-left:10px;
	border-radius: 5px;
}
  .capdiv{
	width: 100%;
	padding-left: 0;
	margin: auto;
}
  .register #recapt{
	margin-left: 22px;
	margin-top: 0;
}
  
button{
	width: 90%;
	height: 40px;
	color: white;
	background: deepskyblue;
	font-size: 1.2em;
	font-weight: bold;
	margin-left:20px;
	border-radius: 5px;
}

.next #regtag{
	 color:aqua;
	 font-size: 17px;
	 margin-left:20px;
}

#otpconfirmGrid{
	width: 100%;
	margin-top:5px;
	margin-left:0;
	display: flex;
}

#otpinput{
	width: 50%;
	margin-left: 0;
}

#otpverifybtn{
	width: 30%;
	margin-left: 3.2em;
}

.otpverifydiv h4{
	width: 90%;
	font-size:14px;
	color:red;
	margin-left:0;
}

.otpverifydiv{
	width:90%;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
	padding-top:10px;
	padding-bottom:10px;
	margin-left:20px;
	border :black solid 1px;
	display: none;
}


}

