@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.reportcontainer{
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

.menustag{
	width:100%;
	height: 40px;
}

.main{
	width: 90%;
	margin:auto;
	min-height: 100vh;
}
.main h2{
	color: white;
	text-align: center;
	padding-top: 20px;
}
.columnname{
	width:100%;
	height: 50px;
	margin:auto;
	color:white;
	margin-top:10px;
	font-weight:bold;
	top:0;
	position:sticky;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
	text-align:center;
	display:flex;
	border:white solid 1px;
}

.columnname #columnid{
	display:none;
	width:100px;
	height: 49px;
	padding-top:15px;
	border-right:white solid 1px;
}
.columnname #columnusername{
	width:200px;
	height: 49px;
	padding-top:15px;
	border-right:white solid 1px;
}
.columnname #columndate{
	width:150px;
	height: 49px;
	padding-top:15px;
	border-right:white solid 1px;
}

.columnname #columtitle{
	width:270px;
	height: 49px;
	padding-top:15px;
	border-right:white solid 1px;
}
.columnname #columdescription{
	width:350px;
	height: 49px;
	padding-top:15px;
	border-right:white solid 1px;
}

.columnname #columuserid{
	display:none;
	width:100px;
	height: 49px;
	padding-top:15px;
	border-right:white solid 1px;
}
.columnname #columstatus{
	width:155px;
	height: 49px;
	padding-top:15px;
}

.adjust{
	width:100%;
	min-height: 80vh;
}


.details{
	width:100%;
	min-height: 100px;
	margin:auto;
	color:white;
	margin-top:5px;
	display:flex;
	border-radius:20px;
	border: white solid 1px;
}
.details:hover{
	background: linear-gradient(to bottom, #4b4a7d, #6a6abf, #5e5e7a);
}

.details #userid{
	display:none;
	width:100px;
	min-height: 100px;
	text-align: center;
	padding-top:30px;
	border-right:white solid 1px;
}

.details #username{
	width:200px;
	min-height: 100px;
	text-align: center;
	padding-top:30px;
	padding-left:5px;
	overflow:hidden;
	border-right:white solid 1px;
}

.details #date{
	width:150px;
	min-height: 100px;
	text-align: center;
	padding-top:30px;
	padding-left:5px;
	overflow:hidden;
	border-right:white solid 1px;
}
.details #title{
	width:270px;
	min-height: 100px;
	text-align:center;
	padding-top:30px;
	padding-right:10px;
	padding-left:10px;
	border-right:white solid 1px;
}

.details #description{
	width:350px;
	min-height: 100px;
	text-align:center;
	padding-top:30px;
	padding-right:10px;
	padding-left:10px;
	border-right:white solid 1px;
}
.details #reportid{
	display:none;
	width:100px;
	min-height: 100px;
	text-align:center;
	padding-top:30px;
	border-right:white solid 1px;
}
.details #status{
	width:155px;
	min-height: 100px;
	text-align:center;
	margin:auto;
	padding-top:30px;
}

.details #pendingdiv{
	width:110px;
	height: 100px;
	text-align:center;
	margin-left:25px;
	padding-top:30px;
}
.details #pending{
	width:85px;
	height: 40px;
	border-radius:20px;
	color:white;
	margin-left:10px;
	border-color:silver;
	background-color: #e74c3c;
	font-size:15px;
	font-weight: bold;
}
#pending:hover{
	background-color: green;
}
.details #solvediv{
	width:110px;
	height: 100px;
	margin-left:25px;
	text-align:center;
	padding-top:30px;
}

.details #solve{
	width:85px;
	height: 40px;
	color:white;
	border-radius:20px;
	margin-left:10px;
	border-color:silver;
	background-color: green;
	font-size:15px;
	font-weight: bold;
}	


